.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo > :not(:last-child) {
  margin-bottom: 12px;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLinks > :not(:last-child) {
  margin-right: 26px;
}
